<!--  app/views/movies/find_movies_with_same_director.html.erb -->
<h2>Movies with the Same Director as <%= @movie.director %></h2>

<ul>
  <% @movies_with_same_director.each do |movie| %>
     <li><%= movie.title %></li>
     <li><%= movie.rating %></li>
     <li><%= movie.director %></li>
     <li><%= movie.release_date %></li>
  <% end %>
</ul>